# permissions for end users to edit cloudformations.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cloudformation-editor-role
rules:
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations/status
  verbs:
  - get
