# permissions for end users to view cloudformations.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cloudformation-viewer-role
rules:
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations/status
  verbs:
  - get
