
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations/finalizers
  verbs:
  - update
- apiGroups:
  - infra.mdstechinc.com
  resources:
  - cloudformations/status
  verbs:
  - get
  - patch
  - update
