apiVersion: infra.mdstechinc.com/v1alpha1
kind: CloudFormation
metadata:
  name: cloudformation-sample
spec:
  tags:
    origin: operator
  templateUrl: https://cft-rds-bucket.s3.amazonaws.com/stack-file.yaml
  template: |
    ---
    AWSTemplateFormatVersion: '2010-09-09'
    Resources:
      S3Bucket:
        Type: AWS::S3::Bucket
        Properties:
          VersioningConfiguration:
            Status: Suspended
